/* *** GENERIC STYLES *** */

body {
    webkit-text-size-adjust:none; 
    -ms-text-size-adjust: 100%;
    background: #f7f9fa;
}

.container {
    max-width: 600px; 
}

.img-responsive {
    display: block; 
    width: 100%;
}

.content {
    text-align: center; 
    vertical-align: top; 
    font-size: 0;
}

.img-container {
    background: #ffffff;
    padding: 0;
}

.img-container center {
    margin: 0 auto 10px;
}


/* *** LOGO + CONTACTS + HEADER IMAGE *** */

.logo {
    background: #c3c5c6;
    padding: 20px 0 0; 
}

.contacts {
    background: #c3c5c6;
    text-align: center; 
    font-family: 'Arial', sans-serif; 
    font-size: 16px; 
    color: #ffffff; 
    font-weight: bold; 
    padding: 10px 20px 10px 20px; 
}


/* *** SIMGLE COULMN TEXT  *** */

.text {
    max-width: 560px; 
    font-family: 'Arial', sans-serif; 
    font-size: 14px; 
    line-height: 18px; 
    padding: 0 20px; 
    text-align: left; 
    color: #515151;
}

.text strong {
    font-size: 22px; 
    line-height: 29px; 
    color: #8d6c46;
}

/* *** TWO COLUMNS TEXT *** */

.offer-container {
    width: 280px; 
    display: inline-block; 
    vertical-align: top; 
    border:5px solid #ffffff;
}

.offer-table {
     width: 100%; 
     background: #efefef;
}

.offer-text {
    font-family: 'Arial', sans-serif; 
    font-size: 14px; 
    line-height: 20px; 
    color: #606060; 
    text-align: left; 
    padding: 10px;
}

.offer-text strong {
    font-size: 20px; 
    line-height: 24px;
}

.offer-price {
    font-family: 'Arial', sans-serif; 
    font-size: 11px; 
    line-height: 24px; 
    color: #606060; 
    text-align: right; 
    padding: 10px;

}

.offer-price .bolder {
    font-size: 35px; 
    color: #0fb6b8; 
    text-align: right;
}

.button-table {
    background: #efefef;
}

.button {
    background: #0fb6b8; 
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    display: inline-block; 
    font-size: 18px; 
    margin: 0 auto; 
    padding: 20px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    border-radius: 4px; 
    text-align: center;
}

.button a:link, .button a:hover, .button a:visited  {
    background: #0fb6b8; 
    color: #FFFFFF; 
    text-decoration: none;
}

/* *** CONTACTS *** */

.contacts-container {
    width: 280px; 
    display: inline-block; 
    vertical-align: top; 
    border: 5px solid #c3c5c6;
}

.contacts-table {
     background: #c3c5c6;
}

.social, .address {
    vertical-align: top;
}

.social h5, .address h5 {
    font-family: 'Arial', sans-serif;
    font-weight: 900; 
    font-size: 17px; 
    text-align: left;
}

.social a {
    font-family: 'Arial', sans-serif; 
    padding: 3px 7px; 
    font-size: 12px; 
    margin-bottom: 10px; 
    text-decoration: none; 
    color: #FFF;
    font-weight: bold; 
    display: block;
    text-align: center; 
}

.social .fb {
    background: #3B5998;
}
.social .tw {
    background: #1daced;
}
.social .gp {
    background: #DB4A39;
}

.address p {
    font-family: 'Arial', sans-serif; 
    font-size:12px; 
    line-height:14px; 
    text-align:left;
}

/* *** MEDIA QUERIES *** */

@media screen and (min-width: 601px) {
    .container {
        width: 600px!important;
    }
}